* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: lavender;
  color: darkslategray;
  padding: 2rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: darkslateblue;
  text-decoration: none;
}
